<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=c:.\RemindersDB.db;Version=3;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="testkey" value="Testkey String"></add>
		<add key="Interval" value="60000"></add>
	</appSettings>
</configuration>